GOOGLE_CLOUD_PROJECT=<GOOGLE_CLOUD_PROJECT>
GOOGLE_CLOUD_LOCATION=<GOOGLE_CLOUD_LOCATION>
TASKS_SUBSCRIPTION=<TASKS_SUBSCRIPTION>
RESULTS_TOPIC=<RESULTS_TOPIC>
USE_MOCK_PUBSUB=<USE_MOCK_PUBSUB>
SANDBOX_TEMPLATE=sandbox-hackathon-judge-template
SANDBOX_NAMESPACE=hackathon-judge
